/* Envoltura general */
.plataforma-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
}

/* Contenedor principal con separación entre izquierda y derecha */
.plataforma-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  box-sizing: border-box;
  gap: 40px;
}

/* Lado izquierdo (texto y botones) */
.plataforma-left {
  flex: 1;
  max-width: 50%;
}

/* Botón de volver */
.volver-btn {
  background: none;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Título principal */
.titulo {
  font-weight: bold;
  margin-bottom: 30px;
}

/* Contenedor de barras simuladas */
.barras {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 60px;
}

/* Barra amarilla */
.barra-progreso {
  width: 20%;
  height: 7px;
  background-color: #aaa;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  right: 15px ;
}
.barra-progreso-contenedor {
  display: flex;
  align-items: center;
  gap: 15px; /* espacio entre el número y la barra */
  
}
.relleno {
  height: 100%;
  background: #f2cd00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: width 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}

.porcentaje {
  font-weight: bold;
  font-size: 15px;
  color: #000;
  min-width: 45px; /* para que no se mueva mucho con números más grandes */
  text-align: left;
}


/* Botón amarillo */
.ver-btn {
  background-color: #f2cd00;
  color: #000;
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.ver-btn:hover {
  background-color: #e0bc00;
}

/* Lado derecho (logo) */
.plataforma-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen del logo */
.logo-img {
  max-width: 300px;
  height: auto;
}




