.header-with-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #F3F3F5;
}

.header-texts {
  flex: 1;
  margin-left: 75px;
  margin-top: 30px;
  width: 3em;

}

.header-texts h1 {
  margin: 0 0 5px 0;
    font-size: 45px;
}

.header-texts h3 {
  margin: 0;
  color:#ffda44;
}

.header-image img {
  max-width: 150px;
  height: auto;
  margin-left: 20px;
  border-radius: 8px;
  margin-right: 75px;
}

/* primer contenedor*/
.phrase-container {
  background-color: #F3F3F5;
  padding: 12px 20px;
  margin-top: 15px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: none;
  color: #333;
  font-size: 15px;
  
}
.container-item {
  background-color: #F3F3F5;
  flex: 1; /* para que ocupen igual espacio */
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: none;
}

.container-item img {
  width: 3opx;  
  height: 30px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.container-text {
  font-size: 1em;
  color: #333;
}

.three-containers {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  max-width: 1000px;
}

.separator {
  width: 2px;           
  height: 60px;        
  background-color: black;
  margin: 0 15px;      
}

.icon-style {
  margin-right: 15px; 
  color: #ffda44; 
}

/*segundo contenedor*/
.phrase-container-lu {
  background-color: #fff;
  padding: 12px 20px;
  margin-top: 15px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  color: #333;
  font-size: 15px;

}
.phrase-container-lu h2 {
font-size: 30px;

}

.phrase-list-container {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.phrase-list {
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: none;
  color: #333;
  font-size: 1em;
  flex: 1;
}

.phrase-list ul {
  list-style: none; /* quita los puntos*/
  padding-left: 0;
  margin: 0;
}

.phrase-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 25px; /* espacio para el check */
}

/*pone el check*/
.phrase-list li::before {
  content: '✓';
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  font-weight: bold;
}


/*imagen*/
.yellow-container {
  background-color: #ffda44; 
  padding: 10px 15px;
  margin-top: 8px;
  border-radius: 5px;
  color: #333;
  font-weight: 600;
  max-width: 150px; 
  text-align: center;
  margin-left: auto;   
  margin-right: auto;  
}
.image {
    max-width: 350px; 
    width: 100%; 
    flex: 0 0 auto; 

    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden; 

    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0; 
}

.header-image {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    width: 100%; 
    padding-bottom: 20px; 
}

.header-image img {
    width: 100%;    
    height: auto;    
    object-fit: cover;
    max-height: 250px; 
    display: block; 
    margin: 0; 
    border-radius: 0; 
}

.dinero {
    font-size: 3em; 
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px; 
    color: #333;
    width: 100%; 
    text-align: center; 
}
.dinero h1 {
    margin: 0; 
}


.yellow-container {
    background-color: #ffda44;
    padding: 10px 15px;
    border-radius: 5px;
    color: #333;
    font-weight: 600;
    width: calc(100% - 60px); 
    max-width: 250px; 
    margin: 0 auto; 
    text-align: center;
    cursor: pointer;
}
.yellow-container p {
    margin: 0;
}

/*Responsive*/
@media (max-width: 768px) {
    .header-with-image {
        flex-direction: column; 
        align-items: center;    
        margin-bottom: 20px;    
        padding: 15px 20px;    
    }

    .header-texts {
        margin-top: 10px;      
        text-align: center;     
        width: auto;           
        margin-left: 0;     
    }

    .header-texts h1 {
        font-size: 30px;        
    }

    .header-texts h3 {
        font-size: 18px;  
    }

    .header-image {
        margin-top: 15px; 
    }

    .header-image img {
        max-width: 100px;     
        margin: 0 auto;        
    }

    .three-containers {
        flex-direction: column;
        gap: 15px;              
        padding: 0 15px;       
        max-width: 100%;       
    }

    .container-item {
        flex-direction: row;   
        padding: 12px 15px;    
        width: 100%;            
    }

    .separator {
        display: none;         
    }


    .icon-style {
        font-size: 20px;
        margin-right: 10px; 
    }

    
    .phrase-container-lu {
        margin-right: 15px;     
        margin-left: 15px;     
        padding: 10px 15px;    
        max-width: 100%;       
    }
    
    .phrase-container-lu h2 {
        font-size: 24px;        
        text-align: center;     
      }

    .phrase-list-container {
        flex-direction: column; 
        gap: 15px; 
    }
    
  .header-image img{
    max-width: 100%;
  }

  .yellow-container {
    width: 100%;
  }

  }



/*Modo oscuro*/
body.dark-mode {
  background-color: #474444be; 
  color: #ddd;
}


body.dark-mode .header-with-image{
    background-color: #474444be;  
}

body.dark-mode .header-texts h1{
  color: white;
}

body.dark-mode .header-texts h3 {
  color: #ffda44; 
}

body.dark-mode .header-image img {
  filter: brightness(0.9);
  background-color: #000; 
}
body.dark-mode .phrase-container{
    background-color: #474444be;  
    color: white;
    box-shadow: none;
}

body.dark-mode .container-item{
    background-color: #474444be;  
    box-shadow: none;
}

body.dark-mode .container-text{
    color: white;

}

body.dark-mode .phrase-container-lu {
    background-color: #000;
}
body.dark-mode .phrase-container-lu h2 {
color: white;}

body.dark-mode .phrase-list {
  background-color: #000; 
  color: #ddd;
  box-shadow: none;
}

body.dark-mode .phrase-list li::before {
  color: #ffda44; 
}

body.dark-mode .separator {
  background-color: white; 
}


body.dark-mode .header-image{
    background-color: #000;
}

body.dark-mode .image{
    background-color: #000;
}


