.notificaciones-container {
    display: flex;
    margin-top: 85px;
    height: calc(100vh - 100px); 
    background-color: #f3f3f5;
    
  }
  
  .mensajes-lista {
    width: 300px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    padding: 20px;
  }
  
  .mensaje-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    position: relative;
  }
  
  .mensaje-info strong {
    display: block;
    font-size: 16px;
  }
  
  .mensaje-info span {
    font-size: 12px;
    color: #777;
  }
  
  .mensaje-info p {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
  }
  
  .mensaje-acciones {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
  }
  
  .accion-icono {
    cursor: pointer;
    color: #333;
  }
  
  .accion-icono:hover {
    color: #E6D00A;
  }
  
  .agregar-btn {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    background-color: #E6D00A;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    width: auto; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  .agregar-btn:hover {
    background-color: #d4be09;
  }
  
  .mensaje-vacio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  .formulario-flotante {
    position: fixed;
    top: 100px;
    right: 50px;
    background-color: #fff;
    border: 2px solid #E6D00A;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .formulario-flotante input,
  .formulario-flotante textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario-flotante textarea {
    height: 100px;
  }
  
  .formulario-botones {
    display: flex;
    justify-content: space-between;
  }
  
  .formulario-botones button {
    background-color: #E6D00A;
    border: none;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario-botones button:hover {
    background-color: #d4be09;
  }


  .sobre-icono{
    font-size: 150px;
    color: #2f3a4e;
    margin-bottom: 20px;  
    }
  