html, body {
  margin: 0px;
  padding: 0px;
}

.contenedor {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  font-family: Arial, sans-serif;
}

.contenedor h1 {
  font-size: 50px;
  padding-bottom: 50px;
}

.titulo {
  align-content: center;
  font-size: 40px;
}

.seccion-contenido {
  display: flex;
  flex-direction: row;
}

.seccion-contenido img{
  width: 408px;
  height: 414px;
  margin-bottom: 30px;
  object-fit: cover;
}

.seccion-contenido .texto-boton .texto{
  width: 100%;
  display: block;
  text-align: center;
}

.texto p{
  margin-top: 50px;
  width: auto;
}

.boton {
  background: #ffe22b;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px 36px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 270px;
}
.boton:hover {
  background: #ffde00;
}

/* Responsive para móvil */
@media (max-width: 700px) {
  .contenedor {
    gap: 28px;
  }

  .seccion-contenido {
    flex-direction: column;
    align-items: center;      
    gap: 18px;
  }

  .imagen-cont {
    margin-bottom: 12px;
  }

  .texto-boton {
    align-items: center;
    width: 100%;
  }

  .texto {
    margin-bottom: 16px;
    width: 100%;
  }

  .boton {
    margin-left: 0;
    align-self: center;
  }
}

