html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.preguntas-frecuentes {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #8f8f8f4d;
}

.titulo {
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 400;
}

.lista {
  list-style: none;
  padding: 0;
  max-width: 850px;
  margin: 40px auto;
  flex: 1;
}

.faq-item {
  margin-bottom: 50px;
  
}

.faq-item li{
    list-style: none !important;
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 18px;
  user-select: none;
}

.numero {
  color: #FFD600;
  font-weight: bold;
  font-size: 24px;
  min-width: 38px;
}

.pregunta {
  font-size: 19px;
  flex: 1;
}

.simbolo {
  color: #FFD600;
  font-size: 24px;
  font-weight: bold;
  width: 32px;
  text-align: center;
}

.contenido {
  overflow: hidden;
  max-height: 0;
    transition: max-height 0.4s ease, padding 0.6s ease;
}

.contenido-abierta {
  margin-top: 18px;
}

.contenido ul {
  margin: 0;
  padding: 13px 0 0 40px;
}

@media (max-width: 650px) {
  .titulo {
    font-size: 30px;
    margin-top: 30px;
  }

  .lista {
    max-width: 100%;
    margin: 20px;
    padding: 0 6px;
  }

  .header {
    gap: 10px;
    font-size: 1rem;
  }

  .pregunta {
    font-size: 1rem;
  }

  .numero {
    font-size: 1.1rem;
    min-width: 28px;
  }

  .simbolo {
    font-size: 1.5rem;
    width: 20px;
  }


  .footer-left {
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .footer-right {
    margin-top: 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }

  .footer-right a {
    margin-left: 0;
    font-size: 14px;
  }

  .logo-button {
    padding: 7px 16px;
    font-size: 14px;
  }
}

/*MODO OSCURO*/
.dark .preguntas-frecuentes {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
    background-color: #2C2C2C;
  color: #fff;
}