html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* === CONTENEDORES === */
.contenido-curso {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* === TÍTULO === */
.titulo {
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
}

/* Para cursos específicamente (puedes sobreescribir si lo necesitas distinto) */
.contenido-curso .titulo {
  font-size: 32px;
  margin-left: 80px;
  text-align: left;
}

/* === LISTA DE PREGUNTAS === */
.lista {
  list-style: none;
  padding: 0;
  margin: 0px 0px 0px 75px;
  max-width: 850px;
  width: 100%;
  flex: 1;
  
}

.faq-item {
  margin-bottom: 50px;
}

.faq-item li {
  list-style: none !important;
}

/* === CABECERA Y PREGUNTAS === */
.header {
  display: flex;
  align-items: center;
  gap: 18px;
  user-select: none;
  border-bottom: 3px solid black;
  cursor: pointer;
}

.pregunta {
  font-size: 19px;
  flex: 1;
  padding-bottom: 10px;
}

.simbolo {
  color: black;
  font-size: 24px;
  font-weight: bold;
  width: 32px;
  text-align: center;
  margin-right: auto;
}

/* === CONTENIDO DESPLEGABLE === */
.contenido {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease, padding 0.6s ease;
}

.contenido-abierta {
  margin-top: 0px;
  width: 100%;
}

.contenido ul {
  margin: 0;
  padding: 13px 0 0 0px;
  width: 650px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {

  .contenido-curso .titulo {
    font-size: 26px;
    margin: 40px 0 20px 10px;
  }

  .pregunta {
    font-size: 1rem;
  }

  .simbolo {
    font-size: 20px;
    width: 20px;
  }
  
  .header {
    gap: 10px;
    font-size: 1rem;
  }

  .contenido ul {
    width: 100%;
    padding-left: 0px;
  }

  .lista {
    width: 95%;
    margin: 0px 10px;
    padding: 0;
  }

  .footer-left,
  .footer-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }

  .footer-right a {
    font-size: 14px;
  }

  .logo-button {
    padding: 7px 16px;
    font-size: 14px;
  }
}

/* === MODO OSCURO === */
.dark .contenido-curso {
  background-color: #2C2C2C;
  color: #fff;
}

.dark .header {
  border-bottom: 3px solid white;
}

.dark .simbolo{
  color: white;
}