/* Agregar Flexbox al contenedor */
.cursos-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Flex en .course-page para que ocupe todo el espacio disponible */
.course-page {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: 545px;
    flex:1;
}
.description {
    width: 647px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.course-card {
    border: 1px solid #ccc;
    width: 329px;
    height: 470px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.course-img {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 329px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 12px;
}

.course-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.course-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 12px 0;
    text-align: center;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    max-width: 297px;
    margin-top: auto;
}

.course-button {
    width: 141px;
    height: 28px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    background-color: #e6d00a;
    color: #000;
    cursor: pointer;
}

.agregar-btn {
    background-color: #E6D00A;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    width: auto;
    border-radius: 5px;
    cursor: pointer;
}
